<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="left-navbar-index" href="/">Disaster Response Project</a>
            <a class="left-navbar-graphs" href="/">graphs</a>
            <a href="https://www.udacity.com/">Made with Udacity</a>
            <a href="https://github.com/CarlosArocha/disaster_response_pipeline_project">My Github</a>
            <img src="testingphoto.jpg">
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>
    {% endblock %}

    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}
</div>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>

</body>
</html>
